/* Add styles for the board container */
.board-container {
    position: fixed;
    bottom: 50px; /* Space from the bottom of the screen */
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 900px;
    background-color: rgba(255, 255, 255, 0.6);
    border-top: 1px solid #ddd;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    padding: 0px 0px;
    margin-bottom: 0px;
  }
  
  /* Hover effect for the board container */
  .board-container:hover {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.15);
  }
  
  /* Style for the board button */
  .board-btn {
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    color: #333;
    border: none;
    padding: 8px 15px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    border-radius: 12px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    margin: 0 auto;
    width: auto;
    z-index: 10;
  }
  
  /* Style for the adjust tools board */
  .adjust-tools-board {
    position: relative;
  }
  
  .adjust-tools-btn {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.2s ease;
  }
  
  .adjust-tools-btn:hover {
    background-color: #e0e0e0;
  }
  
  /* board Menu */
  .board-tool-menu {
    position: absolute;
    top: 40px; /* Space from button */
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 200px;
    padding: 10px;
    z-index: 100;
  }
  
  /* Styling for input elements inside the board */
  .adjust-tools-container {
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .adjust-tools-container div {
    margin-bottom: 15px;
  }
  
  .adjust-tools-container label {
    font-weight: bold;
  }
  
  .adjust-tools-container input[type="range"] {
    width: 80%;
  }
  
  .adjust-tools-container input[type="color"] {
    width: 50px;
  }
  