* {
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'poppins';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.katex {
  font-family: 'Georgia', serif !important; /* Override KaTeX font */
  font-size: inherit; /* Keep the same font size */
  font-weight: bold;
  color: inherit; /* Match text color */
}

.katex .mathnormal {
  font-family: 'Georgia', serif !important;
  font-weight: bold;
}
